@import '../sass/variables';

html{
    font-size: 62.5%;
}
body{
    scroll-behavior: smooth;
    font-family: $font-family;
}
input{
    outline: none;
    border: none;
    border-bottom: .2rem solid $dark;
    background: transparent;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
    background: $background;
}
.icon__container{
    width: 15rem;
    height: 5rem;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .7rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    .icon__text{
        font-size: 1.5rem;
        font-weight: 900;
        color: $light;
        border: .2rem solid $light;
        width: 14rem;
        height: 4rem;    
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $breakpoint-sm) {

  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: $breakpoint-md) {
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: $breakpoint-lg) {
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: $breakpoint-xl) {
  }
